
*{
  margin: 0;
  color: rgb(226, 222, 222);
  font-family: 'Courier New', Courier, monospace;
}

body{
  background-color: #454545;
}

.navbar {
  padding: 20px;
  display: flex;
  align-items: center;
  max-width: 600px;
  margin: 0 auto;
  justify-content: center;
  /*border-bottom: 1px solid #f2f2f2;*/
}

.navbar .internal-links{
  margin-left: auto;
}

.navbar a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
}

.navbar a:hover{
  background-color:#6b6b6b;
}

.bod {
  align-items: center;
  max-width: 500px;
  margin: 0 auto;
}

.bod .links{
margin-top: 16px;
font-size: small;
}

.bod .links a:hover{
  background-color:#6b6b6b;
  }

  .about{
    font-size: medium;
    align-items: center;
  }

  
@media screen and (min-width: 1440px) {
  .bod .links{
    font-size: medium;
  }
  
}

@media screen and (min-width: 2560px) {
  .bod .links{
    font-size: large;
  }
  
}